<ng-container *ngIf="vm$ | async as vm">
  <div
    class="d-flex justify-content-center position-sticky sticky-top-90px taxon-subcategories-wrapper"
  >
    <div
      class="py-1 text-uppercase d-none d-xl-flex overflow-x taxon-subcategories"
    >
      <a
        class="pt-4 pb-2 mb-2 pl-4 pt-4 pb-2"
        [class.taxon-subcategories-selected]="vm.data.subcategory === 'all'"
        [routerLink]="['/', 'catalog', vm.data.params.category, 'all']"
        >ALL</a
      >
      <a
        *ngFor="let subcategory of vm.data.subcategories"
        class="pt-4 pb-2 mb-2 pl-4 pt-4 pb-2"
        [class.taxon-subcategories-selected]="subcategory.active"
        [routerLink]="[
          '/',
          'catalog',
          vm.data.params.category,
          subcategory.url
        ]"
        >{{ subcategory.name }}</a
      >
    </div>
  </div>

  <div data-hook="taxon_products">
    <div data-hook="search_results">
      <div
        class="container-fluid plp-filter-and-sort-horizontal-border d-lg-none mb-3"
      >
        <div class="row">
          <div
            id="filter-by-overlay-show-button"
            class="col-6 plp-filter-and-sort-vertical-border"
          >
            <div class="plp-filter-and-sort-buttons">
              FILTER BY
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="21.156"
                viewBox="0 0 11.344 21.156"
                width="11.344"
                class="plp-icon"
              >
                <path
                  d="m42.617 25.669a.685.685 0 0 0 .968 0 .685.685 0 0 0 0-.968l-8.515-8.516 8.516-8.516a.685.685 0 0 0 -.968-.968l-9.017 9a.685.685 0 0 0 0 .968z"
                  fill="currentColor"
                  transform="matrix(-1 0 0 -1 44.744 26.869)"
                ></path>
              </svg>
            </div>
          </div>
          <div id="sort-by-overlay-show-button" class="col-6">
            <div class="plp-filter-and-sort-buttons">
              SORT BY
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="21.156"
                viewBox="0 0 11.344 21.156"
                width="11.344"
                class="plp-icon"
              >
                <path
                  d="m42.617 25.669a.685.685 0 0 0 .968 0 .685.685 0 0 0 0-.968l-8.515-8.516 8.516-8.516a.685.685 0 0 0 -.968-.968l-9.017 9a.685.685 0 0 0 0 .968z"
                  fill="currentColor"
                  transform="matrix(-1 0 0 -1 44.744 26.869)"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div
        class="container dropdown d-none d-lg-flex justify-content-end mt-5 pr-4 pb-3 plp-sort"
      >
        <div data-toggle="dropdown" class="plp-sort-header">
          {{
            vm.data.queryParams.sort === "ascendant"
              ? "LOW - HIGH"
              : vm.data.queryParams.sort === "descendant"
              ? "HIGH - LOW"
              : "SORT BY"
          }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="18px"
            viewBox="0 0 11.344 21.156"
            width="18px"
            class="spree-icon spree-icon-arrow spree-icon-arrow-up ml-3 plp-sort-header-arrow--up"
          >
            <path
              d="m42.617 25.669a.685.685 0 0 0 .968 0 .685.685 0 0 0 0-.968l-8.515-8.516 8.516-8.516a.685.685 0 0 0 -.968-.968l-9.017 9a.685.685 0 0 0 0 .968z"
              fill="currentColor"
              transform="matrix(-1 0 0 -1 44.744 26.869)"
            ></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="18px"
            viewBox="0 0 11.344 21.156"
            width="18px"
            class="spree-icon spree-icon-arrow spree-icon-arrow-down ml-3 plp-sort-header-arrow--down"
          >
            <path
              d="m42.617 25.669a.685.685 0 0 0 .968 0 .685.685 0 0 0 0-.968l-8.515-8.516 8.516-8.516a.685.685 0 0 0 -.968-.968l-9.017 9a.685.685 0 0 0 0 .968z"
              fill="currentColor"
              transform="matrix(-1 0 0 -1 44.744 26.869)"
            ></path>
          </svg>
        </div>

        <div class="dropdown-menu text-right plp-sort-dropdown">
          <ul class="pt-1 plp-sort-dropdown-ul">
            <li class="p-3 plp-sort-dropdown-ul-li--active">
              <a
                (click)="
                  router.navigate([], {
                    queryParams: getQueryParams(
                      vm.data.queryParams,
                      'sort',
                      null
                    )
                  })
                "
                >NONE</a
              >
            </li>
            <li class="p-3 plp-sort-dropdown-ul-li">
              <a
                (click)="
                  router.navigate([], {
                    queryParams: getQueryParams(
                      vm.data.queryParams,
                      'sort',
                      'descendant'
                    )
                  })
                "
                >PRICE (HIGH - LOW)</a
              >
            </li>
            <li class="p-3 plp-sort-dropdown-ul-li">
              <a
                (click)="
                  router.navigate([], {
                    queryParams: getQueryParams(
                      vm.data.queryParams,
                      'sort',
                      'ascendant'
                    )
                  })
                "
                >PRICE (LOW - HIGH)</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="container mb-3 d-md-flex">
        <div
          id="plp-filters-accordion"
          class="d-none d-lg-block col-lg-3 pr-5 position-sticky h-100 plp-filters"
          data-hook="taxon_sidebar_navigation"
        >
          <div class="w-100 card plp-filters-card">
            <div
              class="card-header collapsed px-1 plp-filters-card-header"
              id="filtersColor"
              data-toggle="collapse"
              data-target="#collapseFilterColor"
              aria-expanded="false"
              aria-controls="collapseFilterColor"
              role="heading"
              aria-level="2"
            >
              Color
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 16.498 14"
                width="16px"
                class="spree-icon mt-1 float-right arrow plp-filters-card-header-arrow--plus"
              >
                <g fill="none" stroke="#232323" stroke-width="2">
                  <path d="m0 7h16.498"></path>
                  <path d="m8.249 14v-14"></path>
                </g>
              </svg>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 13 2"
                width="16px"
                class="spree-icon mt-1 float-right arrow plp-filters-card-header-arrow--minus"
              >
                <path
                  d="m0 1h13"
                  fill="none"
                  stroke="#232323"
                  stroke-width="2"
                ></path>
              </svg>
            </div>
            <div
              id="collapseFilterColor"
              class="collapse"
              aria-labelledby="filtersColor"
            >
              <div class="card-body px-0 pt-1">
                <app-color-picker
                  [colors]="vm.data.colors"
                  [selectedColor]="vm.data.queryParams.color"
                  (colorPicked)="
                    router.navigate([], {
                      queryParams: getQueryParams(
                        vm.data.queryParams,
                        'color',
                        $event
                      )
                    })
                  "
                ></app-color-picker>
              </div>
            </div>
          </div>
          <div class="w-100 card plp-filters-card">
            <div
              class="card-header collapsed px-1 plp-filters-card-header"
              id="filtersSize"
              data-toggle="collapse"
              data-target="#collapseFilterSize"
              aria-expanded="false"
              aria-controls="collapseFilterSize"
              role="heading"
              aria-level="2"
            >
              Size
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 16.498 14"
                width="16px"
                class="spree-icon mt-1 float-right arrow plp-filters-card-header-arrow--plus"
              >
                <g fill="none" stroke="#232323" stroke-width="2">
                  <path d="m0 7h16.498"></path>
                  <path d="m8.249 14v-14"></path>
                </g>
              </svg>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 13 2"
                width="16px"
                class="spree-icon mt-1 float-right arrow plp-filters-card-header-arrow--minus"
              >
                <path
                  d="m0 1h13"
                  fill="none"
                  stroke="#232323"
                  stroke-width="2"
                ></path>
              </svg>
            </div>
            <div
              id="collapseFilterSize"
              class="collapse"
              aria-labelledby="filtersSize"
            >
              <div class="card-body px-0 pt-1">
                <app-li-filter
                  [values]="vm.data.sizes"
                  [selectedValue]="vm.data.queryParams.size"
                  (onValueSelected)="
                    router.navigate([], {
                      queryParams: getQueryParams(
                        vm.data.queryParams,
                        'size',
                        $event
                      )
                    })
                  "
                ></app-li-filter>
              </div>
            </div>
          </div>
          <div class="w-100 card plp-filters-card">
            <div
              class="card-header collapsed px-1 plp-filters-card-header"
              id="filtersLength"
              data-toggle="collapse"
              data-target="#collapseFilterLength"
              aria-expanded="false"
              aria-controls="collapseFilterLength"
              role="heading"
              aria-level="2"
            >
              Length
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 16.498 14"
                width="16px"
                class="spree-icon mt-1 float-right arrow plp-filters-card-header-arrow--plus"
              >
                <g fill="none" stroke="#232323" stroke-width="2">
                  <path d="m0 7h16.498"></path>
                  <path d="m8.249 14v-14"></path>
                </g>
              </svg>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 13 2"
                width="16px"
                class="spree-icon mt-1 float-right arrow plp-filters-card-header-arrow--minus"
              >
                <path
                  d="m0 1h13"
                  fill="none"
                  stroke="#232323"
                  stroke-width="2"
                ></path>
              </svg>
            </div>
            <div
              id="collapseFilterLength"
              class="collapse"
              aria-labelledby="filtersLength"
            >
              <div class="card-body px-0 pt-1">
                <app-li-filter
                  [values]="vm.data.lengths"
                  [selectedValue]="vm.data.queryParams.length"
                  (onValueSelected)="
                    router.navigate([], {
                      queryParams: getQueryParams(
                        vm.data.queryParams,
                        'length',
                        $event
                      )
                    })
                  "
                ></app-li-filter>
              </div>
            </div>
          </div>

          <div class="w-100 card plp-filters-card">
            <div
              class="card-header text-capitalize collapsed px-1 plp-filters-card-header"
              id="filtersPrice"
              data-toggle="collapse"
              data-target="#collapseFilterPrice"
              aria-expanded="false"
              aria-controls="collapseFilterPrice"
              role="heading"
              aria-level="2"
            >
              price
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 16.498 14"
                width="16px"
                class="spree-icon mt-1 float-right arrow plp-filters-card-header-arrow--plus"
              >
                <g fill="none" stroke="#232323" stroke-width="2">
                  <path d="m0 7h16.498"></path>
                  <path d="m8.249 14v-14"></path>
                </g>
              </svg>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16px"
                viewBox="0 0 13 2"
                width="16px"
                class="spree-icon mt-1 float-right arrow plp-filters-card-header-arrow--minus"
              >
                <path
                  d="m0 1h13"
                  fill="none"
                  stroke="#232323"
                  stroke-width="2"
                ></path>
              </svg>
            </div>
            <div
              id="collapseFilterPrice"
              class="collapse"
              aria-labelledby="filtersPrice"
            >
              <div class="card-body px-0 pt-1">
                <app-li-filter
                  [values]="prices"
                  [selectedValue]="vm.data.queryParams.price"
                  (onValueSelected)="
                    router.navigate([], {
                      queryParams: getQueryParams(
                        vm.data.queryParams,
                        'price',
                        $event
                      )
                    })
                  "
                >
                  <ng-template liFilterTemplate let-item>
                    < ${{ item }}
                  </ng-template>
                </app-li-filter>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-9" data-hook="homepage_products">
          <div class="row" [@listAnimation]="vm.data.products.length > 0">
            <!-- MARIAN START -->
            <app-product-card
              *ngFor="let product of vm.data.products"
              class="col-sm-4 col-6 mb-3 mb-md-4 pr-sm-0 pr-md-0 pl-md-4 pl-sm-4 pl-0 pr-2"
              [id]="product.id"
              [imageUrl]="product.imageUrl"
              [name]="product.name"
              [url]="product.url"
              [price]="product.price"
              (selected)="onProductSelected(product.url)"
            ></app-product-card>
            <!-- MARIAN END-->
          </div>

          <div class="row pl-md-4 pl-sm-4">
            <div class="col-12">
              <div class="plp-pagination d-none d-lg-flex">
                <app-pager
                  [maxPage]="vm.data.maxPage"
                  [currentPage]="vm.data.queryParams.page || 1"
                  (selected)="
                    router.navigate([], {
                      queryParams: getQueryParams(
                        vm.data.queryParams,
                        'page',
                        $event
                      )
                    })
                  "
                ></app-pager>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
